WHOP_API_KEY=
WHOP_APP_ID=
NEXT_PUBLIC_WHOP_APP_ID=
WHOP_COMPANY_ID=
OWNER_WHOP_USER_ID=
NEXT_PUBLIC_APP_URL=
WHOP_APP_STATUS=hidden
WHOP_ENABLE_DISCOVER=false
WHOP_ENABLE_EXPERIENCE=true
WHOP_ENABLE_DASHBOARD=true
